
body{
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.loader{
    font-size: 20px;
    color: #a9a9a9;
    font-family: Lato,sans-serif;
    height: 0px;
}
#refreshPopular{
    background-color: #555555;
    border-radius: 5px;
    opacity: 0.8;
    border: none;
    font-size: 18px;
    font-family: Lato,sans-serif;
    padding: 10px 15px;
    margin-top: 50px;
    color: white;
}

#search{
    padding: 3px 10px;
    background: transparent;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid white;
    color: white;
    font-size: 25px; 
    margin: 50px;
}

.container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.container header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.container .content article {
    flex-basis: 450px;
    position: relative;
    text-align: center;
    font-size: 40px;
    color: #a9a9a9;
    font-family: Lato,sans-serif;
    font-weight: 700;
}



.container .content article a > div {
    text-decoration: none;
    display: none;

}

.container .content article a:hover > div {
    display: block;
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: Lato,sans-serif;
}

.container .content article a:hover > img {
    opacity: 0.2;
}



.container .content article a img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 3px;
}



